{% extends 'user/basedashboard.html' %}
{% block content %}
    <div class="cus-container">
   <div class="cus-sidebar">
    
    <h2>
    <strong>Vũ Nguyễn Đức Thắng</strong> 
    </h2>
    <h3>
        <strong>Tài khoản của tôi</strong>
    </h3>
    <ul>
     <li>
      <a class="active" href="#">
       <i class="fas fa-user">
       </i>
       Thông tin cá nhân
      </a>
     </li>
     <li>
      <a href="#">
       <i class="fas fa-box">
       </i>
       Đơn hàng
      </a>
     </li>
    </ul>
    <h3>
     Quà tặng
    </h3>
    <ul>
     <li>
      <a href="#">
       <i class="fas fa-ticket-alt">
       </i>
       Phiếu giảm giá
      </a>
     </li>
    </ul>
    <a class="logout" href="#">
     Đăng xuất
    </a>
   </div>
   <div class="cus-content">
    <h2>
        <strong>
    Đặt lại mật khẩu
        </strong>
    </h2>
       <div class="col-4">
       <div class="main-content-change ">
    <form id="changePasswordForm">
     <label for="current-password">
      Mật khẩu *
     </label>
     <input id="current_password" name="current-password" type="password" required="required"/>
     <label for="new-password">
      Mật khẩu mới *
     </label>
     <input id="password" name="new-password" type="password" required="required"/>
     <label for="confirm-password">
      Nhập lại mật khẩu mới *
     </label>
     <input id="confirmpassword" name="confirm-password" type="password" required="required" />
        <input id="cur_password" name="current-password" type="hidden"  value="{{ cur_password }}"/>
         <input id="customer_id" name="customer_id"  type="hidden"  value="{{ id}}"/>

     <button type="submit" id="btn-change">
      Cập nhật
     </button>
    </form>
   </div>
       </div>
   </div>
  </div>
    <script>
        $(document).ready(function () {
            $('#changePasswordForm').on('submit', function (event) {
                event.preventDefault();
                validateForm();
            });

            function validateForm() {
                let current_password=$('#current_password').val();
                 let cur_password=$('#cur_password').val();
                let password = $('#password').val();
                let confirmpassword = $('#confirmpassword').val();
                let customer_id=$('#customer_id').val();
                let isValid = true;

                if (current_password !== cur_password){
                    isValid = false;
                    Swal.fire({
                        title: "Mật khẩu cũ không đúng!",
                        text: "Vui lòng kiểm tra lại",
                        icon: "error"
                    });
                    return;
                }

                 if (password === '' || password.length < 8) {
                    isValid = false;
                    Swal.fire({
                        title: "Mật khẩu phải dài hơn 8 kí tự",
                        text: "Vui lòng tăng cường bảo mật",
                        icon: "warning"
                    });
                    return;
                }else
                  if (password !== confirmpassword) {
                    isValid = false;
                    Swal.fire({
                        title: "Mật khẩu không trùng khớp",
                        text: "Vui lòng kiểm tra lại",
                        icon: "error"
                    });
                    return;

                }

                if (isValid) {
                    $.ajax({
                        url: '{% url 'user:changepassword' %}',
                        type: 'PUT',
                        data: JSON.stringify({password:password,id:customer_id }),
                        headers: { "X-CSRFToken": '{{ csrf_token }}' },
                        contentType: 'application/json',
                        success: function (response) {
                            if (response.status) {
                                Swal.fire({
                                    title: "Đổi mật khẩu thành công ",
                                    text: "Chúc mừng bạn đã đổi mật khẩu thành công",
                                    icon: "success",

                                });
                            }
                        }
                    });
                }

            }
        });


    </script>
{% endblock %}