{% extends 'user/base.html' %}
{% block content %}
     <div class="rounded-box">
        <h2>Đặt lại mật khẩu</h2>
         <form id="emailForgotPasswordForm">
                <div class="form-forgot">
                    <input name="email" id="email" type="email" class="input" placeholder="Email" required="required" />
                </div>
            
        <button class="btn-verify" type="submit" >Gửi email</button>
         </form>
         
    </div>
        <script>
           $(document).ready(function () {
            $('#emailForgotPasswordForm').on('submit', function (event) {
                event.preventDefault();
                validateForm();
            }); 

            function validateForm() {
                let email = $('#email').val();
                let isValid = true;
                if(email!==''){
                    $.ajax({
                       url: '{% url 'user:checkemail' %}',
                        type: 'POST',
                        data: JSON.stringify({email: email }),
                        contentType: 'application/json',
                        headers: { "X-CSRFToken": '{{ csrf_token }}' },
                        success: function (response) {
                            if (!response.exists) {
                                isValid = false;
                                Swal.fire({
                                    title: "Email không tồn tại ",
                                    text: "Vui lòng kiểm tra lại",
                                    icon: "error",
                                });
                                
                            }
                        }
                    });
                }
                if (isValid) {
                    $.ajax({
                        url: '{% url 'user:sendmailforgotpassword' %}',
                        type: 'POST',
                        data: JSON.stringify({email: email}),
                        headers: { "X-CSRFToken": '{{ csrf_token }}' },
                        contentType: 'application/json',
                        success: function (response) {
                            if (response.status) {
                                Swal.fire({
                                    title: "Gửi email xác thực thành công",
                                    text: "Vui lòng kiểm tra hòm thư để đặt lại mật khẩu",
                                    icon: "success",
                                });
                            }
                        }
                    });
                } else {
                   Swal.fire({
                                    title: "Gửi email xác thực thất bại",
                                    text: "Vui lòng quay lại sau ít phút",
                                    icon: "error",
                                });
                   return;
                }
            }           
        });
        </script>
{% endblock %}