{% extends 'user/base.html' %}
{% block content %}
     <div class="rounded-box">
        <h2>Đặt lại mật khẩu</h2>
              <form id="resetPasswordForm">
                <div class="form-forgot">
                    <input name="password" id="password" type="password" class="input" placeholder="Mật khẩu mới:" required="required" />
                    <input name="confirmpassword" id="confirmpassword" type="password" class="input" placeholder="Nhập lại mật khẩu mới" required="required" />
                    <input name="userid" id="userid" type="hidden" value="{{ id }}" />
                </div>
                  <button class="btn-verify" type="submit" >Đổi mật khẩu</button>
            </form>
    </div>
        <script>
           $(document).ready(function () {
            $('#resetPasswordForm').on('submit', function (event) {
                event.preventDefault();
                validateForm();
            });
            function validateForm() {
                let password = $('#password').val();
                let confirmpassword = $('#confirmpassword').val();
                let userid=$('#userid').val()
                let isValid = true;
                 if (password === '' || password.length < 8) {
                    isValid = false;
                    Swal.fire({
                        title: "Mật khẩu phải dài hơn 8 kí tự",
                        text: "Vui lòng tăng cường bảo mật",
                        icon: "warning"
                    });
                    return;
                }else
                  if (password !== confirmpassword) {
                    isValid = false;
                    Swal.fire({
                        title: "Mật khẩu không trùng khớp",
                        text: "Vui lòng kiểm tra lại",
                        icon: "error"
                    });
                    return;
                }
                if (isValid) {
                    $.ajax({
                        url: '{% url 'user:changepassword' %}',
                        type: 'PUT',
                        data: JSON.stringify({password:password,id:userid}),
                        headers: { "X-CSRFToken": '{{ csrf_token }}' },
                        contentType: 'application/json',
                        success: function (response) {
                            if (response.status) {
                                Swal.fire({
                                    title: "Đặt lại mật khẩu thành công! ",
                                    text: "Chúc mừng bạn đã đặt lại mật khẩu thành công",
                                    icon: "success",
                                    footer: `<a href="{% url 'user:login'%}">Đăng nhập</a>`
                                });
                            }
                        }
                    });
                } else {
                   Swal.fire({
                                    title: "Đăng kí thất bại",
                                    text: "Vui lòng quay lại sau ít phút",
                                    icon: "error",
                                });
                   return;
                }
            }           
        });
        </script>
{% endblock %}